<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>./webfiori/file/File.php</file>
            <file>./webfiori/file/MIME.php</file>
            <file>./webfiori/file/UploadFile.php</file>
            <file>./webfiori/file/Uploader.php</file>
            <file>./webfiori/file/exceptions/FileException.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/webfiori/framework/test</directory>
        </testsuite>
    </testsuites>
</phpunit>