<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>../WebFiori/File/File.php</file>
            <file>../WebFiori/File/MIME.php</file>
            <file>../WebFiori/File/UploadedFile.php</file>
            <file>../WebFiori/File/FileUploader.php</file>
            <file>../WebFiori/File/Exceptions/FileException.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Tests">
            <directory>./WebFiori/Framework/Test</directory>
        </testsuite>
    </testsuites>
</phpunit>